# Ignore everything inside raw and cleaned
data/raw/*
data/cleaned/*

# Keep the folders themselves
!data/raw/.gitkeep
!data/cleaned/.gitkeep

# Track everything inside data/processed
!data/processed/
